/* -----about-css------ */
:is(.content-1, .content-2) h2 {
    color: #000000;
}

:is(.content-1, .content-2) p {
    color: #0E0E0E;
}

.content-1 {
    background-color: #eff1fe;
    border-radius: 40px;
    padding: 36px;
}

.content-2 {
    background-color: #e6e8fc;
    border-radius: 40px;
    padding: 36px;
}

@media screen and (max-width:767px) {
    .content-1,
    .content-2 {
        padding: 15px;
        border-radius: 10px;
    }
}

.team-card {
    text-align: center;
}

.team-person {
    font-weight: 600;
    font-size: 20px;
}

.deg {
    color: #7b7b7f;
}


:is(.content-1, .content-2) h2 {
    /* font-size: 44px; */
    font-weight: 500;
}

.our-team h2 {
    /* font-size: 44px; */
    font-weight: 500;
}

.news-section .title {
    font-size: 36px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

}

@media screen and (max-width:768px) {
    .team-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 420px) {
  .team-grid {
    display: grid; /* Required for grid to work */
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
