.bannerContent{
    padding: 40px 0;

}
@media screen and (min-width:991px) {
    .bannerContent{
    padding: 100px 0;

}
  .bannerContent h1{
    font-size: 62px;
  }
title{
    font-size: 62px;
}
}
.aboutBanner{
    background-position: center;
    background-size: cover;
}